$mainFont: 'Open Sans', sans-serif;
$white: #fff;
$lightestgrey: #e9e9e9;
$lightgrey: #e6e6e6;
$darkgrey: #252525;
$mediumgrey: rgb(141, 141, 141);
$mediumdarkgrey: #868686;
$mediumlightgrey: #c2c2c2;
$black: #000;

// $accent: #71F79F;
$dark: #353531;
$dark: #C2B2B4;


$accent: #FE5F55;

$bodyWidth: 1440px;

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    position: relative;
    background: $white;
    color: $darkgrey;
}

.main-wrapper {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0;
    background: $white;
    display: grid;
    grid-template-columns: 10rem auto;
    align-items: center;
    color: $darkgrey;

    &__content {
        grid-column: 2;
    }

    & a {
        color: inherit;
        text-decoration: none;
    }

}

.page-body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10rem auto 35rem;

    margin-top: 5rem;
}

.album-section {
    grid-column: 2;

    &__filter-container {
        
        border-top: 1px solid $darkgrey;
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        margin: 2.5rem 0;
        margin-top: 0;

        & input {
            // margin-left: 10rem;
            height: 2rem;
            width: 20rem;
            border-radius: 20px;
            border: 1px solid $lightgrey;
            // border: none;
            color: $darkgrey;
            background: $lightestgrey;
            padding: 0 1rem;

            &:focus {
                outline: none;
            }
        }
    }

}

.master-albums {

    &__master-list {
        // margin-left: 10rem;
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: 15rem;
            height: 15rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            position: relative;

            &__image {
                width: 100%;

                & img {
                    max-width: 100%;
                }
            }

            &__inner {
                padding: .5rem;
                position: absolute;
                top: 0;
                left: 0;
                height: calc(100% - 3rem);
                width: 100%;
                background-image: linear-gradient(to bottom, rgba($darkgrey, .5), rgba($darkgrey, 0));
                color: $white;

                
    
                & h3 {
                    font-size: .9rem;
                    font-weight: 600;
                    color: $white;
                    margin-bottom: .25rem;
                    margin-top: .5rem;
                }
    
                & h4 {
                    font-size: .9rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
    
                & p {
                    font-size: .9rem;
                    margin-bottom: 1rem;
                }
    
                & span {
                    font-size: .75rem;
                }
            }
                     
            &__buttons {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                & .button {
                    width: 2rem;
                    height: 2rem;
                    background: transparent;
                    border: 2px solid $white;
                    border-radius: 50%;
                    margin-top: .5rem;
                    color: $white;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    &:first-child {
                        margin-left: .5rem;
                    }

                    &:last-child {
                        margin-right: .5rem;
                    }

                    &:hover {
                        cursor: pointer;
                        background: $accent;
                        border-color: $accent;                        
                    }

                    & p {
                        margin-bottom: .5rem;
                    }

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }


        }
    }
}

.user-albums {

    &__container {
        position: fixed;
        top: 5rem;
        right: 0;
        background: $white;
        border-top: 1px solid $darkgrey;
        margin-right: 10rem;
        
        width: 20rem;
        padding-top: 1rem;
        min-height: calc(100vh - 7.5rem);

        & h4 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    &__item {
        display: flex;
        padding-bottom: .5rem;
        font-size: .8rem;


        &__image {
            width: 20%;

            & img {
                max-width: 100%;
                display: block;
            }
        }

        &__artist {
            width: calc(30% - .5rem);
            margin-left: .5rem;
        }

        &__title {
            width: calc(30% - .5rem);
            margin-left: .5rem;
        }

        &__tags {
            width: calc(20% - .5rem);
            margin-left: .5rem;
            display: flex;
            flex-direction: column;
        }

        &__remove {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $lightestgrey;
            
            &:hover {
                cursor: pointer;
                background: $accent;
                color: $white;
            }
        }
    }
}

.single-page {
    grid-column: 2;
    border-top: 1px solid $darkgrey;

    &__details {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        
        &__left { 
            width: calc(50% - 2rem);
            margin-right: 2rem;
            position: relative;
            
            & img {
                max-width: 100%;
            }

            &__button {
                position: absolute;
                top: 0;
                left: 0;

                width: 3rem;
                height: 3rem;
                font-size: 2rem;
                background: transparent;
                border: 3px solid $white;
                border-radius: 50%;
                margin-top: .5rem;
                margin-left: .5rem;
                color: $white;
                
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                &:hover {
                    background: $accent;
                    border-color: $accent;
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &__right {
            width: 50%;

            & h2 {
                font-weight: 600;
                margin-bottom: .5rem;
            }

            & h3 {
                font-weight: 400;
                margin-bottom: 1rem;
            }

            & h4 {
                font-weight: 600;
                margin-bottom: 2.5rem;
            }

            & p {
                margin-bottom: 1rem;
                line-height: 1.8rem;
            }
        }
    }

    &__comments {
        border-top: 1px solid $darkgrey;
        padding-top: 1rem;
        margin-top: 6rem;
        width: 50%;

        &__container {
            margin-top: 2rem;
        }

        &__comment {
            padding: 1rem 0;
            border-bottom: 1px solid $mediumlightgrey;
        }

        &__form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column; 

            width: 100%;
            padding-bottom: 3rem;

            & input{
                width: 100%;
                padding: .5rem;
                margin-bottom: .5rem;
                background: $lightestgrey;
                border: 1px solid $lightgrey;
                
                &:focus {
                    outline: none;
                }
            }
        }
    }

    
}