/////// FONTS //////////////

$mainFont: 'Lato', sans-serif;
$titleFont: 'Shrikhand', cursive;

/////// COLORS //////////////

// Lights
$white: #fff;
$lightestgrey: #e9e9e9;
$lightgrey: #e6e6e6;
$mediumlightgrey: #d8d8d8;

// Mids
$mediumgrey: rgb(141, 141, 141);
$mediumdarkgrey: #868686;

// Darks
$darkgrey: #252525;
$black: #000;

// Colors
// $accent: #FE5F55;
// $accent: #71F79F;
// $accent: #56E39F;
$accent: #07BEB8;

$danger: #FE5F55;

/////// TRANSITIONS //////////////

$snap: cubic-bezier(.694,.048,.335,1);

