.filter {  
    position: fixed;
    top: 5rem;
    left: 5rem;    
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    margin-top: 0;
    z-index: 10;
    background: $white;

    & input {
        height: 2rem;
        width: 20rem;
        border-radius: 20px;
        border: 1px solid $lightgrey;
        color: $darkgrey;
        background: $lightestgrey;
        padding: 0 1rem;

        &:focus {
            outline: none;
        }
    }
}